{#加载 Bootstrap 标签集#}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <title>Learning Log</title>

    <!-- 让 Django 包含所有的 Bootstrap 样式文件 -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <!-- 定义导航栏 -->
  <body class="p-3 m-0 border-0 bd-example">
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Logs</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item"><a>Hello, {{ user.username }}.</a></li>
              <li class="nav-item"><a href="{% url 'users:logout' %}">log out</a></li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">log in</a>
              </li>
            {% endif %}
          </ul>

        </div>

      </div>

    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div> <!-- /container -->

  </body>
</html>
