{% extends "learning_logs/base.html" %}

{% block header %}
  <h1 class="display-4">Topics</h1>
{% endblock header %}

{% block content %}

{#  <p>Topics</p>#}

    <ul>
      {% for topic in topics %}
{#        <li>{{ topic }}</li>#}
        <li>
{#          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>#}
          <h3>
            <a class="display-5" href="{% url 'learning_logs:topic' topic.id %}">
              {{ topic }}</a>
          </h3>
        </li>
      {% empty %}
        <li><p class="display-5">No topics have been added yet.</p></li>
      {% endfor %}
    </ul>

{#    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a>#}
    <br>
    <h3><a class="display-5" href="{% url 'learning_logs:new_topic' %}">
      Add a new topic</a></h3>

{% endblock content %}